<mat-card style="margin: 40px;padding:60px;">
<fusioncharts
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSources"
>
</fusioncharts>
</mat-card>

<mat-card style="margin: 40px;padding:60px;">

<fusioncharts
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSources2"
>
</fusioncharts>
</mat-card>

<mat-card style="margin: 40px;padding:60px;">

<fusioncharts
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSources3"
>
</fusioncharts>
</mat-card>