<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a >
            <img src="assets/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" >
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                   
                </li>
                <li>
                    <a routerLink='/home/charts' >
                        <i class="fas fa-chart-bar"></i>Charts</a>
                </li>
               
                <li>
                    <a routerLink='/home/sensor_managment'>
                        <i class="far fa-check-square"></i>Forms</a>
                </li>
              
                <li class="has-sub">
                    <a class="js-arrow" >
                        <i class="fas fa-copy"></i>Pages</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a >Login</a>
                        </li>
                        <li>
                            <a >Register</a>
                        </li>
                        <li>
                            <a >Forget Password</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" >
                        <i class="fas fa-desktop"></i>UI Elements</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a >Button</a>
                        </li>
                        <li>
                            <a >Badges</a>
                        </li>
                        <li>
                            <a >Tabs</a>
                        </li>
                        <li>
                            <a >Cards</a>
                        </li>
                        <li>
                            <a >Alerts</a>
                        </li>
                        <li>
                            <a >Progress Bars</a>
                        </li>
                        <li>
                            <a >Modals</a>
                        </li>
                        <li>
                            <a >Switchs</a>
                        </li>
                        <li>
                            <a >Grids</a>
                        </li>
                        <li>
                            <a >Fontawesome Icon</a>
                        </li>
                        <li>
                            <a >Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>